apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-leader-election-role
  namespace: devbox-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devbox-admin-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes
  verbs:
  - '*'
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devbox-editor-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devbox-viewer-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devboxrelease-admin-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases
  verbs:
  - '*'
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devboxrelease-editor-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devboxrelease-viewer-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: devbox-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  - pods
  - secrets
  - services
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes
  - devboxreleases
  - runtimeclasses
  - runtimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/finalizers
  - devboxreleases/finalizers
  verbs:
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/status
  - devboxreleases/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: devbox-metrics-auth-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: devbox-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-leader-election-rolebinding
  namespace: devbox-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: devbox-leader-election-role
subjects:
- kind: ServiceAccount
  name: devbox-controller-manager
  namespace: devbox-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: devbox-manager-role
subjects:
- kind: ServiceAccount
  name: devbox-controller-manager
  namespace: devbox-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: devbox-metrics-auth-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: devbox-metrics-auth-role
subjects:
- kind: ServiceAccount
  name: devbox-controller-manager
  namespace: devbox-system
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
    control-plane: controller-manager
  name: devbox-controller-manager
  namespace: devbox-system
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      nodeSelector:
        devbox.sealos.io/node: ""
      tolerations:
      - effect: NoSchedule
        key: devbox.sealos.io/node
        operator: Exists
      - effect: NoExecute
        key: node.kubernetes.io/not-ready
        operator: Exists
      - effect: NoExecute
        key: node.kubernetes.io/unreachable
        operator: Exists
      containers:
      - args:
        - --metrics-bind-address=:8443
        - --health-probe-bind-address=:8081
        - --registry-addr=
        - --registry-user=admin
        - --registry-password=
        command:
        - /manager
        image: ghcr.io/lingdie/sealos-devbox-controller:v5.0.1
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 1500m
            memory: 2000Mi
          requests:
            cpu: 100m
            memory: 640Mi
        securityContext:
          privileged: true
          runAsUser: 0
        volumeMounts:
        - name: containerd-run-dir
          mountPath: /run/containerd
        - name: containerd-var-run-dir
          mountPath: /var/run/containerd
        - name: containerd-dir
          mountPath: /var/lib/containerd
          mountPropagation: Bidirectional
        - name: hosts-dir
          mountPath: /etc/containerd/certs.d
        - name: tmp-dir
          mountPath: /tmp
      volumes:
      - name: containerd-run-dir
        hostPath:
          path: /run/containerd
          type: Directory
      - name: containerd-var-run-dir
        hostPath:
          path: /var/run/containerd
          type: Directory
      - name: containerd-dir
        hostPath:
          path: /var/lib/containerd
          type: Directory
      - name: hosts-dir
        hostPath:
          path: /etc/containerd/certs.d
          type: Directory
      - name: tmp-dir
        hostPath:
          path: /tmp
          type: Directory
      securityContext:
        runAsUser: 0
      serviceAccountName: devbox-controller-manager
      terminationGracePeriodSeconds: 10
